{% extends 'layout.html.twig' %}

{% block title %}Connexion!{% endblock %}

{% block main %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h1 class="text-center">Merci de vous connecter</h1>
    <div class="m-auto w-50">
        <label for="inputUsername" class="my-3">Identifiant</label>
        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="Nom" required autofocus>
        <label for="inputPassword" class="my-3">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
    
        <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
        >   

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

        <button class="btn btn-primary my-3" type="submit">Se connecter</button>
        <a class="btn btn-primary my-2" href="{{ path('index') }}">Voir les films</a>
        <p>Pas encore de compte? : <a href="{{ path('app_register') }}">S'enregistrer</a></p>
    </div>  
</form>
{% endblock %}
